<%- include('../includes/head.ejs') %>
<script src="/js/admin.js" defer> </script>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container">
            <% if(prods.length > 0){ %>
            <div class="row mt-5">
                <% for(let prod of prods){ %>
                <article class="col 12 col-md-6 col-lg-3 product-item">
                    <div class="card mb-3">
                        <img class="card-img-top" src="/<%= prod.imageUrl %>" alt="Photo about <%= prod.title %>">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= prod.title %>
                            </h5>
                            <h6>
                                Preço:
                                <%= prod.price %>
                            </h6>
                            <p class="card-text">
                                <%= prod.description %>
                            </p>
                            <div class="d-flex justify-content-center align-items-center">
                                <a class="btn" href="/admin/edit-product/<%= prod._id %>">Edit</a>
                                <button class="btn btn-danger btn-delete" 
                                        type="button" 
                                        data-csurf="<%= csrfToken %>"
                                        data-prodId="<%= prod._id %>"> Delete</button>
                            </div>
                        </div>
                    </div>
                </article>
                <% } %>
            </div>
            <%} else { %>
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">No products founded.</h1>
                    <p class="lead">We sorry, but there is nothing to show you here.</p>
                </div>
            </div>
            <% } %>
           <%- include('../includes/pagination') %>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>