<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="../css/product.css">
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <div class="container">
            <% if(prods.length > 0){ %>
            <div class="row mt-5">
                <% for(let prod of prods){ %>
                <div class="col 12 col-md-6 col-lg-3">
                    <div class="card">
                        <img class="card-img-top" src="<%= prod.imageUrl %>"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= prod.title %>
                            </h5>
                            <h6>
                                Preço: <%= prod.price %>
                            </h6>
                            <p class="card-text">
                                <%= prod.description %>
                            </p>
                            <div class="d-flex justify-content-center align-items-center">
                                <a href="/products/<%= prod._id %>" class="btn">Details</a>
                                <%- include('../includes/buttons/addToCart', {prod}) %>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
            <%} else { %>
            <h1>No Products Found!</h1>
            <% } %>
        </div>
    </main>
    <%- include('../includes/end.ejs') %>